@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gerasol';
  src: url('/fonts/gerasol/gerasol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}